.contact-container {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1.5rem;
  color: #194027;
}

.contact-description {
  padding: 1rem 0;
  margin-bottom: 4rem;
  font-size: 2ch;
  color: #194027;
  text-align: left;
}

.contact-title {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.form-section {
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.25rem;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.form-textarea {
  resize: vertical;
}

.submit-button {
  width: 100%;
  background: #194027;
  color: #fef6ed;
  text-decoration: none;
  border: none;
  border-radius: 45px;
  padding: 8px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 1.5ch;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background: #94c8a7;
  color: #194027;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* Media query for tablet and desktop */
@media (min-width: 768px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact-small {
  color: rgb(187, 175, 154);
}

.marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%; /* Full viewport width */
  color: #ece679;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
}

.marquee__inner {
  display: inline-flex;
  animation: marqueeAnimation 30s linear infinite;
  gap: 30px;
}

.marquee__inner span {
  margin-right: 2rem; /* Space between repeats */
  font-size: 5ch;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
