nav {
  background-color: #ebd8c3;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1rem;
  color: #663320;
}

.nav-left {
  display: flex;
  flex-direction: column;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 600;
}

.nav-links {
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
  padding: 1rem;
  color: #663320;
}

.nav-link:hover,
.nav-link.active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #f66123;
  text-underline-offset: 6px;
}

main {
  background-color: #ebd8c3;
  color: #663320;
  height: 35rem;
  text-align: center;
  padding: 1rem;
}

footer {
  background-color: #f0d16e;
  text-align: center;
  padding: 1rem;
  color: #663320;
  font-weight: 600;
}

.logo {
  font-size: 3ch;
  font-weight: 700;
  text-decoration: none;
  color: #663320;
}

.big {
  font-size: 2ch;
  font-weight: 800;
}

.small {
  font-size: 18px;
  font-weight: 400;
}
