nav {
  background-color: pink;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-links li {
  margin-right: 1rem;
}

main {
  background-color: rgb(167, 203, 233);
  height: 32rem;
}

footer {
  background-color: rgb(143, 169, 143);
  text-align: center;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: rgb(176, 118, 11);
}
